ul, li {
  list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px 10px;
  margin: 10px;
}

.grid-item {
  background: lime;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 2rem;
  height: auto;
  line-height: 5rem;
  text-align: center;
  width: auto;
}
